<nav>
    {% set page = craft.request.getSegment(2) %}
    <ul>
        <li>
            <a class="button {% if page == 'cart' %}button-primary{% endif %}" href="{{ shopPrefix }}/cart">
                <i class="fa fa-shopping-cart"></i> {{ "Cart"|t }} ({{ cart.lineItems|length }})
            </a>
        </li>
        <li>
            <form method="POST">
                <input type="hidden" name="action" value="commerce/cart/removeAllLineItems"/>
                <input type="hidden" name="redirect" value="{{ shopPrefix }}"/>
                {{ getCsrfInput() }}
                <input class="fa fa-shopping-cart" type="submit" value="Slet kurv"/>
            </form>
        </li>
    </ul>
</nav>
