<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<form method="post" accept-charset="UTF-8">
  {{ getCsrfInput() }}
  <input type="hidden" name="action" value="users/login">
  <input type="hidden" name="redirect" value="min-forsikring/index">

  <h3><label for="loginName">E-mail</label></h3>
  <input id="loginName" type="text" name="email" value="">

  <h3><label for="password">Adgangskode</label></h3>
  <input id="password" type="password" name="password">

  <label>
    <input type="checkbox" name="rememberMe" value="1">Remember me
  </label>

  <input type="submit" value="Login">

  {% if errorMessage is defined %}
    <p>{{ errorMessage }}</p>
  {% endif %}
</form>

<p><a href="{{ url('forgotpassword') }}">Forget your password?</a></p>
</body>
</html>