<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css">
    <link rel="stylesheet" href="/assets/stylesheets/site.css">

    <style>
        body {
            background: #FFF;
            font-size: 11px !Important;
            padding: 40px;
        }

        p{
            margin: 0 !important;
            padding: 0;
        }

        .error {
            background: red;
        }

        {% include 'commerce/style.css' %}
        .paidLogo {
            font-weight: bold;
            position: absolute;
            left: 30%;
            font-family: 'Helvetica', serif;
            color: rgb(211, 65, 50);
            font-size: 48px;
            -ms-transform: rotate(-20deg); /* IE 9 */
            -webkit-transform: rotate(-20deg); /* Safari */
            transform: rotate(-20deg);
        }

        .footer-logo {
            margin: 0 auto;
            text-align: center;
        }

        .footer-logo img {
            max-width: 300px;

        }

        table.heading td {
            vertical-align: top;
        }

        h1.headline {
            text-transform: uppercase;
            font-weight: 700;
            font-size: 22px;
            text-align: center;
        }

        .wrapper {
            max-width: 740px;
            margin: 0px auto;
        }

        section {

            border-bottom: 3px solid #2e89a5;
            padding: 40px;
        }

        .logo-header {

            text-align: center;
            margin-bottom: 40px;

        }

        .logo-header img {
            max-width: 300px;
            min-width: 200px;

        }
    </style>
</head>

<body>
<div class="wrapper">

    <div class="row logo-header">
        <div class="col-md-12"><img src="http://ef.18digital.dk/assets/images/elektronikforsikring-logo.svg"></div>
    </div>


    <div class="col-md-12"><h1 class="headline">Forsikringscertifikat</h1></div>
    <table class="table table-responsive">
        <tr>
            <td>{{ entry.getValueByName('policytype')['value'] }}</td>
            <td><strong>{{ entry.getValueByName('policytype')['prefix'] }}{{ order.id }}</strong></td>
        </tr>
        <tr>
            <td>{{ entry.getValueByName('insurrenceType')['fieldName'] }}</td>
            <td>{{ entry.getValueByName('insurrenceType')['value'] }}</td>
        </tr>
        <tr>
            <td>{{ entry.getValueByName('ricicitaker')['fieldName'] }}</td>
            <td>{{ entry.getValueByName('ricicitaker')['value'] }}</td>
        </tr>
        <tr>
            <td>{{ entry.getValueByName('administrator')['fieldName'] }}</td>
            <td>{{ entry.getValueByName('administrator')['value'] }}</td>
        </tr>
        <tr>
            <td>{{ entry.getValueByName('insurrencePeriod')['fieldName'] }}</td>
            <td>{{ entry.getValueByName('insurrencePeriod')['value']|raw|replace({'#dateOrdered#': order.dateOrdered | date('d-m-Y')}) | raw }}</td>
        </tr>



        <tr>
            <td>{{ entry.getValueByName('insurrenceTaker')['fieldName'] }}</td>
            <td><b>{{ order.shippingAddress.firstName }} {{ order.shippingAddress.lastName }}</b></td>
        </tr>
        <tr>
            <td>{{ entry.getValueByName('insurrenceAddress')['fieldName'] }}</td>
            <td><b>{{ order.shippingAddress.address1 }}<br>
                    {{ order.shippingAddress.zipCode }} {{ order.shippingAddress.city }}<br>

                </b></td>
        </tr>
        <tr>
            <td>{{ entry.getValueByName('risiciDescription')['fieldName'] }}</td>
            <td>{{ entry.getValueByName('risiciDescription')['value'] }}</td>
        </tr>
        <tr>
            <td>{{ entry.getValueByName('cover')['fieldName'] }}</td>
            <td>{{ entry.getValueByName('cover')['value'] }}</td>
        </tr>
        <tr>
            <td>{{ entry.getValueByName('insurrenceAmount')['fieldName'] }}</td>
            <td>{{ entry.getValueByName('insurrenceAmount')['value'] }}</td>
        </tr>
        <tr>
            <td>{{ entry.getValueByName('ownRisk')['fieldName'] }}</td>
            <td>{{ entry.getValueByName('ownRisk')['value'] }}</td>
        </tr>
        <tr>
            <td>{{ entry.getValueByName('waitingPeriod')['fieldName'] }}</td>
            <td>{{ entry.getValueByName('waitingPeriod')['value'] }}</td>
        </tr>
        <tr>
            <td>{{ entry.getValueByName('specialTerms')['fieldName'] }}</td>
            <td>{{ entry.getValueByName('specialTerms')['value'] }}</td>
        </tr>
        <tr>
            <td>{{ entry.getValueByName('insurance')['fieldName'] }}</td>
            <td>{{ entry.getValueByName('insurance')['value'] }}</td>
        </tr>
        <tr>
            <td>{{ entry.getValueByName('contactInfo')['fieldName'] }}</td>
            <td>{{ entry.getValueByName('contactInfo')['value'] }}</td>
        </tr>
    </table>
    <div class="row">
        <div class="col-md-12 footer-logo"><img src="/assets/images/danrisk-logo.svg"></div>

    </div>
</div>

</body>
</html>
