{% if not user or not user.isInGroup('customers') %}
    {% redirect "min-forsikring/login" %}
{% endif %}

{% if user %}
    {% set customer = craft.commerce.getCustomer() %}
    {% set orders = customer.orders %}

{% endif %}
<div class="col-md-12 red text-right">


        Welcome, {{ user.friendlyName }}!



        {% for order in orders %}
            {{ order.id }}
        {% endfor %}


</div>

<header>
    <nav class="navbar navbar-fixed-top" role="navigation">

        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Menu</span>
                <span class="icon-bar top-bar"></span>
                <span class="icon-bar middle-bar"></span>
                <span class="icon-bar bottom-bar"></span>
            </button>
            <a href="/"><img class="logo" src="/assets/images/ef-logo-white.svg"/></a>
        </div>
        <div id="navbar" class="navbar-collapse collapse navbar-right">


{% set prefix = "/mit-forsikring" %}

            <ul class="nav navbar-nav">
                <li class=""><a href="{{ prefix }}/elektronikforsikring">FORSIKRINGER</a></li>
                <li class=""><a href="{{ prefix }}/kundeservice">PERSONLIGE OPLYSNINGER</a>
                <li class=""><a href="{{ prefix }}/kontakt">KONTAKT</a>
                <li class=""><a href="{{ prefix }}/logout" class="btn btn-primary"><i class="fa fa-lock" aria-hidden="true"></i> LOG UD</a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </nav>

</header>
{% includejs %}


{% endincludejs %}



