

    <form>
        <div class="searchContainer">
            <label for="adresse">Søgadresse så får du lidt automatisk hjælp med indtastningerne</label>
            <input class="form-control" placeholder="SØG EFTER DIN ADRESSE" type="text" id="adresse"/>
        </div>


    </form>
{#


{% includeJsFile '/assets/javascripts/addressLookup/addressLookup.js' %}
{% includeJsFile '/assets/javascripts/jquery-ui/jquery-ui.min.js' %}
{% includeJsFile '/assets/javascripts/jquery-ui/ui/autocomplete.js' %}
{% includeJsFile '/assets/javascripts/dawa-autocomplete/dawa-autocomplete.js' %}
{% includeJsFile '/assets/javascripts/addressLookup/addressLookup.js' %}
{% includeCssFile '/assets/stylesheets/addressLookup/addressLookupStyle.css' %}
#}


    {% includeJsFile '/assets/js/all.js' %}