{#
{% extends 'commerce/_layouts/checkout' %}

{% block content %}
    <div class="row white">
    <div class="container content">
        <div class="col-md-6">
            <h1>Forsikringsadresse</h1>
            <div class="address-card col-md-12">
                <h4>Forsikringsadresse</h4>
                {% if cart.shippingAddress %}
                    {% include 'commerce/_includes/addresses/address' with {'address': cart.shippingAddress} %}
                {% else %}
                    <p>{{ "No shipping address selected"|t }}</p>
                {% endif %}
                {% if currentUser %}<a class="btn btn-primary"
                                       href="/{{ shopPrefix }}/customer/addresses/edit?addressId={{ cart.shippingAddressId }}&redirect={{ craft.request.path }}">{{ "Edit"|t }}</a>{% endif %}
            </div>
            <div class="col-md-6"><a class="btn-link" href="/commerce/checkout/addresses">TILBAGE</a></div>


        </div>
        <div class="col-md-6">
            <h1>Bekræft og betal</h1>
            <div class="address-card">
                <form method="POST" class="form-horizontal">
                    {{ getCsrfInput() }}
                    <table class="table table-responsive borderless">
                        <thead>
                        <tr>
                            <th>{{ "Product"|t }}</th>
                            <th>{{ "Periode"|t }}</th>
                            <th class="text-right">{{ "Price"|t }}</th>
                        </tr>
                        </thead>
                        {% for item in cart.lineItems %}
                            {% include 'commerce/_includes/cartitem' %}
                        {% endfor %}
                        <td class="text-right" colspan="4">
                            <h4>{{ "Total Price"|t }}: {{ priceTodayTotal|currency(cart.currency)}}</h4>
                        </td>
                        <tr>
                            <td colspan="3"><input type="checkbox" id="condition" name="conditions"/> <span
                                        class="con">Ja, jeg har læst de generelle betingelser for forsikringen</span><a
                                        data-toggle="modal" href="#conditions-modal" alt="Se betingelserne"> - Se
                                    betingelserne</a>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="3" class="text-right">
                                <input type="hidden" name="action" value="commerce/payments/pay"/>
                                <input type="hidden" name="redirect"
                                       value="/commerce/customer/order?number={number}"/>
                                <input type="hidden" name="cancelUrl" value="/commerce/order/error"/>
                                <button id="buyButton" class="btn btn-primary" type="submit">Betal nu</button>
                            </td>
                        </tr>
                    </table>
                </form>
            </div>
        </div>
    </div>
        {% include 'includes/modal/betingelser.html' %}
{% endblock %}







        {% includejs %}

        $("#condition").change(function() {
        if($("#condition").is(':checked'))
        {
        $('#buyButton').prop("disabled",false);
        $('.con').removeClass("conditions");
        }
        else
        {
        $('#buyButton').prop("disabled",true);
        $('.con').addClass("conditions");
        }
        });

        $('#buyButton').prop("disabled",true);

        $('.con').addClass("conditions");

        {% endincludejs %}
#}
