<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>hej</title>
</head>
<body>
<div>

    {% set new = craft.elektronikforsikring.orderTransaction('1000015')   %}
    {{ new.txnfee }}

</div>
</body>
</html>