@import "../theme/variables";

.ui-autocomplete {

  min-width: 200px;

}

.searchContainer {

  height: auto !important;
  text-align: left;

  width:100%;
  margin:0;
  padding:20px;

  label {color:#FFF;}
}

.addressSearch {

  font-size: x-large;
  outline: none;
  display: table-cell;
  vertical-align: middle;
  border: 1px solid #ccc;
}

.customForms {
  color: #FFF;
  padding: 0;
  margin: 0;
}

.ui-corner-all {
  -moz-border-radius: 4px 4px 4px 4px;
}

.ui-widget-content {
  border: 1px solid #2e89a5;
  color: #222222;
  /*background-color: #ed2258;*/
  background-color: $color-grey;
  height: auto;
  max-height: 200px;

}

.ui-widget {
  font-family: "Roboto", serif;
  font-size: 15px;
}

.ui-menu {
  display: block;
  float: left;
  list-style: none outside none;
  margin: 0;
  padding: 10px;
}

.ui-autocomplete {
  cursor: default;
  position: absolute;
}

.ui-menu .ui-menu-item {
  clear: left;
  float: left;
  margin: 0;
  padding: 10px;
  width: 100%;
}

.ui-menu .ui-menu-item > a {
  display: block;
  padding: 3px 3px 3px 3px;
  text-decoration: none;
  cursor: pointer;
  background: Green !important;
}

.ui-menu .ui-menu-item a:hover {
  display: block;
  padding: 3px 3px 3px 3px;
  text-decoration: none;
  color: White;
  cursor: pointer;
  background-color: ButtonText;
}

.ui-widget-content a {
  color: #222222;
}


