{% extends 'commerce/_layouts/checkout' %}

{% block content %}
    <section class="checkout email">
        <div class="row grey">
            <div class="container content">
                <div class="col-md-4 col-md-offset-2">
                    <div class="form-box">
                        <h3>Indtastet informationer</h3>

                    </div>
                </div>
                <div class="col-md-6">

                    <form id="loginForm" method="post" accept-charset="UTF-8">
                        <input type="hidden" name="action" value="elektronikforsikring/test/index">
                        <input type="text" name="email" class="form-control" value="">

                        <input class="button" type="submit" value="Support adhérents">
                    </form>

                </div>
            </div>

        </div>
    </section>

{% endblock %}


{% includejs %}

$('#loginForm').submit( function (e ) {
e.preventDefault();
var data = $(this).serialize();
$.ajax({
method: 'POST',
url: '/',
data: data,
headers: {'Content-Type': 'application/x-www-form-urlencoded'}
})
.success(function(data) {
console.log('success', data);
})
.error(function(data) {
console.log('error', data);
});
});



{#$("#call-support-form").submit( function(e) {

e.preventDefault();

var data = $(this).serialize();

$.ajax({
method: 'POST',
url: '/',
data: data,
headers: {'Content-Type': 'application/x-www-form-urlencoded'}
})
.success(function(data) {
console.log('success', data);
})
.error(function(data) {
console.log('error', data);
});

});#}


{% endincludejs %}
