
<div class="recentorders-container">
    {% set ordersNum = craft.elektronikforsikring.countOrders %}
    {% if orders|length %}{{ ordersNum }}
        <table class="data fullwidth">
            <thead>
            <tr>
                <th>{{ "Number"|t }}</th>
                {% if showStatuses %}
                    <th>{{ "Status"|t }}</th>{% endif %}
                <th>{{ "Total Paid"|t }}</th>
                <th>{{ "Date Ordered"|t }}</th>
            </tr>
            </thead>
            <tbody>
            {% for order in orders %}
                <tr>
                    <td>
                        <a href="{{ order.getCpEditUrl() }}">{{ order.number[:7] }}</a>
                    </td>
                    {% if showStatuses %}
                        <td>
                            {% if order.orderStatus %}
                                {{ order.orderStatus.htmlLabel|raw }}
                            {% endif %}
                        </td>
                    {% endif %}
                    <td>{{ order.totalPaid|currency(order.currency) }}</td>
                    <td>{{ order.dateOrdered.localeDate() }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>


        <div class="order-form">
            <form id="call-support-form" action="" class="form" method="post" accept-charset="UTF-8">
                <input type="hidden" name="action" value="elektronikforsikring/sendOrders/index">
                <input class="btn submit menubtn add icon" type="submit" value="ADD ORDERS TO NAVISION">
            </form>

        </div>
    {% else %}
        <p>Alle ordrer er eksporteret til Navision</p>
        <div class="order-form text-left">

            <form id="call-order-reset-form" action="" class="form" method="post" accept-charset="UTF-8">
                <input type="hidden" name="action" value="elektronikforsikring/sendOrders/resetOrders">
                <input class="btn submit menubtn add icon" type="submit" value="RESET ORDERS">
            </form>
        </div>
    {% endif %}
</div>

