{% extends 'commerce/_layouts/main' %}
{% block main %}


    {% set products = craft.digitalProducts.products({type: 'insurrence'}) %}
    {% for product in products %}
        <div class="row product">
            <div class="two columns">
                {% include "commerce/_images/product" with { class: 'u-max-full-width' } %}
            </div>
            <div class="ten columns">

                <form method="POST">
                    <input type="hidden" name="action" value="commerce/cart/updateCart">
                    <input type="hidden" name="redirect" value="{{shopPrefix}}/cart">
                    <input type="hidden" name="qty" value="1">
                    <input type="hidden" name="purchasableId" value="{{  product.id }}">
                    <button type="submit">{{ "Add to cart"|t }}</button>

                </form>

            </div>
        </div>
    {% endfor %}
{% endblock %}


