@import "variables";
@import "mixins";

// Styles
body {
  font-family: $font-default;
  font-weight: normal;
  overflow-x: hidden;
  padding: 0;
  margin: 0;
  color: $color-default-font;
  line-height: 1.5em;

}

.animate {

  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

html, body {
  overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-default;
  text-transform: uppercase;
  margin-top: 0;
}

*:focus {
  outline: none !important;
}

*, *::before, *::after {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;

}

.row:before {
  padding: 20px 0 20px 0;

  @media only screen and (max-width: 567px) {
    padding: 0px;
  }
}

.centerContent {

  display: flex;
  justify-content: center;
  align-items: center;

  height: 100%;

  color: #FFF;
}

.content {
  padding: 0px 0px 40px 0px;
}

button, a {

  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

a {
  color: $color-default;
  &:link,
  &:visited,
  &:active {
    text-decoration: none;
  }
  &:hover {
    color: $color-default-selected;
  }
}

a:link, a:visited, a:hover, a:active {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  li {
    padding: 10px 0px 10px 0px;
  }
}

.grey {

  background: $color-grey;

}

.red {

  background: $color-default-selected;

}

.white {

  background: #FFF;

}

.default-content {

  margin: 30px 0 30px 0;
}

.container {

  @media only screen and (max-width: 767px) {
    padding: 20px;
  }
}

.wrapper {
  padding: 0;
  margin: 0;
  overflow: hidden;

}

.btn {
  color: #FFF;
  text-transform: uppercase;
}

.btn-default {
  font-family: $font-default;

  background-color: $color-default-button-background;
  border: none;
  padding: 10px 50px 10px 50px;
}

.btn-default:hover {
  color: #FFF;
  background-color: $color-default-selected;
  border: none;
}

.buttons {

  a {
    margin-bottom: 20px;
  }
}

.page-image-header {

}

.centered {

  color:#FFF;
  padding:40px;
  @include vertical-align();

  @media only screen and (max-width: 767px) {
    width: 100%
  }


  h1 {

    font-size: 3em;
    text-transform: uppercase;

    @media only screen and (max-width: 767px) {
      font-size: 1.9em;
    }

  }

}





