.topimage {

  background: /* top, transparent red, faked with gradient */
          linear-gradient(
                          rgba(130, 130, 130, 0.45),
                          rgba(130, 130, 130, 0.45)
          ),
            /* bottom, image */
          url(/assets/images/girls.jpg) no-repeat top center;

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;

}



.bg-image {

  background: linear-gradient(
                  rgba(0, 0, 0, 0.5),
                  rgba(0, 0, 0, 0.5)
  ),url(/assets/images/foto.jpg) no-repeat top center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;

  text-align:center;
  height:300px;



}



.topimage-faq {

  background: /* top, transparent red, faked with gradient */
          linear-gradient(
                          rgba(0, 0, 0, 0.5),
                          rgba(0, 0, 0, 0.5)
          ),
            /* bottom, image */
          url(/assets/images/faq.jpg) no-repeat top center;

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;


}

.middle-image {
  background: url(/assets/images/foto.jpg) no-repeat top center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  max-height: 500px;
  min-height: 500px;

}