{% set modelName = modelName is defined ? modelName : 'address' %}
{% set model = address is defined ? address : null %}


<div class="addressBox {{ modelName }}">

     <span class="input input--haruki">
        <input class="input__field input__field--haruki" name="{{ modelName }}[firstName]" type="text"
               id="{{ modelName }}-firstName" value="{{ model ? model.firstName : '' }}">
        <label class="input__label input__label--haruki" for="{{ modelName }}-firstName">
            <span class="input__label-content input__label-content--haruki">Fornavn</span>
        </label>
         {% if model and model.getErrors('firstName') %}
             <span class="flash">{{ model.getErrors('firstName')|join }}</span>
         {% endif %}
</span>

    <span class="input input--haruki">
                            <input class="input__field input__field--haruki" name="{{ modelName }}[lastName]"
                                   value="{{ model ? model.lastName : '' }}"
                                   type="text"
                                   id="{{ modelName }}-lastName">
                            <label class="input__label input__label--haruki" for="{{ modelName }}-lastName">
                                <span class="input__label-content input__label-content--haruki">Efternavn</span>
                            </label>
        {% if model and model.getErrors('lastName') %}
            <span class="flash">{{ model.getErrors('lastName')|join }}</span>
        {% endif %}
</span>
    <span class="input input--haruki">
                            <input class="input__field input__field--haruki" name="{{ modelName }}[address1]"
                                   value="{{ model ? model.address1 : '' }}"
                                   type="text"
                                   id="{{ modelName }}-address1">
                            <label class="input__label input__label--haruki" for="{{ modelName }}-address1">
                                <span class="input__label-content input__label-content--haruki">Adresse</span>
                            </label>
        {% if model and model.getErrors('address1') %}
            <span class="flash">{{ model.getErrors('address1')|join }}</span>
        {% endif %}
</span>

    <div class="row siteRow">
        <div class="col-md-5">
            <span class="input input--haruki">
                                    <input maxlength="4"
                                           onkeypress="return event.charCode >= 48 && event.charCode <= 57"
                                           class="input__field input__field--haruki" name="{{ modelName }}[zipCode]"
                                           value="{{ model ? model.zipCode : '' }}"
                                           type="text"
                                           id="{{ modelName }}-zipCode">
                                    <label class="input__label input__label--haruki" for="{{ modelName }}-zipCode">
                                        <span class="input__label-content input__label-content--haruki">Postnr.</span>
                                    </label>
                {% if model and model.getErrors('zipCode') %}
                    <span class="flash">{{ model.getErrors('zipCode')|join }}</span>
                {% endif %}
            </span>
        </div>
        <div class="col-md-7">
            <span class="input input--haruki">
                                    <input class="input__field input__field--haruki" name="{{ modelName }}[city]"
                                           value="{{ model ? model.city : '' }}"
                                           type="text"
                                           id="{{ modelName }}-city">
                                    <label class="input__label input__label--haruki" for="{{ modelName }}-city">
                                        <span class="input__label-content input__label-content--haruki">By</span>
                                    </label>
                {% if model and model.getErrors('city') %}
                    <span class="flash">{{ model.getErrors('city')|join }}</span>
                {% endif %}
            </span>
        </div>
    </div>

    {#<div class="row">#}


    {# <div class="form-group">#}
    {#<input  placeholder="Dit fornavn" type="text" id="{{ modelName }}-firstName" name="{{ modelName }}[firstName]"#}
    {#value="{{ model ? model.firstName : '' }}">#}
    {#{% if model and model.getErrors('firstName') %}#}
    {#<span class="flash">{{ model.getErrors('firstName')|join }}</span>#}
    {#{% endif %}#}
    {#</div>#}
    {#<div class="col-md-6">#}
    {#<div class="form-group">#}

    {#<input placeholder="Dit efternavn" type="text" id="{{ modelName }}-lastName"#}
    {#name="{{ modelName }}[lastName]"#}
    {#value="{{ model ? model.lastName : '' }}">#}
    {#{% if model and model.getErrors('lastName') %}#}
    {#<span class="flash">{{ model.getErrors('lastName')|join }}</span>#}
    {#{% endif %}#}
    {#</div>#}
    {#</div>#}

    {#<div class="col-md-12">#}
    {#<div class="form-group">#}

    {#<input placeholder="Din adresse" type="text" id="{{ modelName }}-address1"#}
    {#name="{{ modelName }}[address1]"#}
    {#value="{{ model ? model.address1 : '' }}">#}
    {#{% if model and model.getErrors('address1') %}#}
    {#<span class="flash">{{ model.getErrors('address1')|join }}</span>#}
    {#{% endif %}#}
    {#</div>#}
    {#</div>#}


    {#<div class="col-md-3">#}
    {#<div class="form-group">#}

    {#<input placeholder="Dit postnr." type="text" id="{{ modelName }}-zipCode"#}
    {#name="{{ modelName }}[zipCode]"#}
    {#value="{{ model ? model.zipCode : '' }}">#}
    {#{% if model and model.getErrors('zipCode') %}#}
    {#<span class="flash">{{ model.getErrors('zipCode')|join }}</span>#}
    {#{% endif %}#}
    {#</div>#}
    {#</div>#}
    {#<div class="col-md-9">#}
    {#<div class="form-group">#}

    {#<input placeholder="Din by" type="text" id="{{ modelName }}-city" name="{{ modelName }}[city]"#}
    {#value="{{ model ? model.city : '' }}">#}
    {#{% if model and model.getErrors('city') %}#}
    {#<span class="flash">{{ model.getErrors('city')|join }}</span>#}
    {#{% endif %}#}
    {#</div>#}

    {#</div>#}

    {#<div class="col-md-6">#}
    {#<div class="form-group">#}

    {#<input placeholder="Dit tlf.nr." maxlength="8" type="text" id="{{ modelName }}-phone"#}
    {#name="{{ modelName }}[phone]"#}
    {#value="{{ model ? model.phone : '' }}">#}
    {#{% if model and model.getErrors('phone') %}#}
    {#<span class="flash">{{ model.getErrors('phone')|join }}</span>#}
    {#{% endif %}#}
    {#</div>#}


    {#</div>#}
    {#</div>#}
</div>





