{% set title = "Kundeservice" %}
{% set page = "kundeservice" %}
{% extends "includes/default_article" %}


{% block content %}
    <div class="row bg-image centerContent">
        <div class="col-md-12">
            <h1>{{ title }}</h1>
        </div>
    </div>

    <div class="row box grey">
        <section class="default kundeservice">
            <div id="grid">
                <div id="posts">
                    <div class="container">
                        {% for entry in craft.entries.section('kundeservice').find() %}
                            <a href="{{ entry.url }}">
                                <div class="post">
                                    <div class="content-box">
                                        {% if entry.backgroundImage|length %}
                                            <div class="imageContainer">
                                                <img class="image img-responsive"
                                                     src="{{ entry.backgroundImage.first().getUrl('indholdsboks') }}"/>
                                            </div>
                                        {% endif %}
                                        <h3>{{ entry.title }}</h3>
                                        <p>{{ entry.pageTeaser }}</p>
                                    </div>
                                </div>
                            </a>

                        {% endfor %}
                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock %}




