<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<form method="post" accept-charset="UTF-8">
  {{ getCsrfInput() }}
  <input type="hidden" name="action" value="users/forgotPassword">
  <input type="hidden" name="redirect" value="">

  <h3><label for="loginName">Username or email</label></h3>
  <input id="loginName" type="text" name="loginName"
         value="{% if loginName is defined %}{{ loginName }}{% else %}{{ craft.session.rememberedUsername }}{% endif %}">

  {% if errors is defined %}
    <ul class="errors">
      {% for error in errors %}
        <li>{{ error }}</li>
      {% endfor %}
    </ul>
  {% endif %}

  <input type="submit" value="Submit">
</form>

<p><a href="{{ url('forgotpassword') }}">Forget your password?</a></p>
</body>
</html>