<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css">
    <style>
        {% include 'commerce/style.css' %}
        .paidLogo{
            font-weight:bold;
            position: absolute;
            left:30%;
            font-family: 'Helvetica', serif;
            color:rgb(211, 65, 50);
            font-size:48px;
            -ms-transform: rotate(-20deg); /* IE 9 */
            -webkit-transform: rotate(-20deg); /* Safari */
            transform: rotate(-20deg);
        }
        table.heading td{
            vertical-align: top;
        }
    </style>
</head>

<body>

{% set orderTable %}
    <div class="row">
        <div class="twelve columns">
            <table class="u-full-width heading">
                <tr>
                    <td>
                        <h5>{{ "Details"|t }}</h5>
                        <ul>
                            <li><strong>{{ "Customer"|t }}:</strong> {{ order.customer.email }}</li>
                            <li><strong>{{ "Total"|t }}:</strong> {{ order.totalPrice|currency(order.currency) }}</li>
                            <li><strong>{{ "Paid"|t }}:</strong>{{ order.totalPaid|currency(order.currency) }}</li>
                            <li><strong>{{ "Date"|t }}:</strong> {{ order.dateOrdered }}</li>
                        </ul>
                    </td>
                    <td>
                        <h5>{{ "Shipping Address"|t }}</h5>
                        {% if order.shippingAddress %}
                            {% include 'commerce/_includes/addresses/address' with { address: order.shippingAddress } %}
                        {% endif %}
                    </td>
                    <td>
                        <h5>{{ "Billing Address"|t }}</h5>
                        {% if order.billingAddress %}
                            {% include 'commerce/_includes/addresses/address' with { address: order.billingAddress } %}
                        {% endif %}
                    </td>
                </tr>
            </table>
            <table class="u-full-width">
                <thead>
                <tr>
                    <th>{{ "Item"|t }}</th>
                    <th>{{ "Unit Price"|t }}</th>
                    <th>{{ "Quantity"|t }}</th>
                    <th class="text-right">{{ "Total"|t }}</th>
                </tr>
                </thead>
                <tbody>
                {% for item in order.lineItems %}
                    <tr>
                        <td valign="top">
                            <strong>{{ item.description }}</strong><br>
                        </td>
                        <td>
                            {% if item.onSale %}
                                <strike>{{ item.price|currency(order.currency) }}</strike>   {{ item.salePrice|currency(order.currency) }}
                            {% else %}
                                {{ item.price|currency(order.currency) }}
                            {% endif %}
                        </td>
                        <td>{{ item.qty }}</td>
                        <td class="text-right">{{ item.total|currency(order.currency) }}</td>
                    </tr>
                {% endfor %}

                {% for adjustment in order.adjustments %}
                    <tr>
                        <td>{{ adjustment.type }}</td>
                        <td colspan="2"><strong>{{ adjustment.name }}</strong><br>({{ adjustment.description }})</td>
                        <td class="text-right">{{ adjustment.amount|currency(order.currency) }}</td>
                    </tr>
                {% endfor %}
                <tr><td colspan="2"><div class="paidLogo"><span>{{ 'PAID'|t }}</div></td><td colspan="2"></td></tr>
                <tr>
                    <td colspan="4" class="text-right">
                        {{ "Item Total"|t }}: {{ order.itemTotal|currency(order.currency) }}<br>
                        <h4>{{ "Total"|t }}: {{ order.totalPrice|currency(order.currency) }}</h4>
                    </td>
                </tr>

                </tbody>
            </table>

        </div>
    </div>
{% endset %}

{# Use the option param passed into the pdf template to show different order pdf's depending on the context #}
{% switch option %}
{% case "receipt" %}
<h1>Receipt for Order #{{ order.number[:7] }}</h1>
{{ orderTable }}
{% case "ajax" %}
<h1>NA</h1>
{% default %}
<h1>Ordre #{{ order.number[:7] }}</h1>
{{ orderTable }}
{% endswitch %}


</body>
</html>
