<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <meta name="viewport" content="width=device-width"/>


  <style type="text/css">
    * {
      margin: 0;
      padding: 0;
      font-size: 100%;
      font-family: 'Avenir Next', "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
      line-height: 1.65;
    }

    img {
      max-width: 100%;
      margin: 0 auto;
      display: block;
    }

    body,
    .body-wrap {
      width: 100% !important;
      height: 100%;
      background: #efefef;
      -webkit-font-smoothing: antialiased;
      -webkit-text-size-adjust: none;
      padding: 0;
      margin: 0;
    }

    a {
      color: #2e89a5;
      text-decoration: none;
    }

    h1, h2, h3, h4, h5, h6 {
      margin-bottom: 20px;
      line-height: 1.25;
    }

    h1 {
      font-size: 32px;
    }

    h2 {
      font-size: 28px;
    }

    h3 {
      font-size: 24px;
    }

    h4 {
      font-size: 20px;
    }

    h5 {
      font-size: 16px;
    }

    p, ul, ol {
      font-size: 16px;
      font-weight: normal;
      margin-bottom: 20px;
    }

    li, ul {
      list-style: none;
      margin: 0;
    }

    .container {
      display: block !important;
      clear: both !important;
      margin: 0 auto !important;
      max-width: 780px !important;
    }

    .container table {
      width: 100% !important;
      border-collapse: collapse;
      margin-bottom: 40px;

    }

    .price table {
      width: 100% !important;

      padding: 2px;

    }

    .price table tr, .price table td {

      padding: 10px;
      border: 1px solid #2e89a5;

    }

    .container .masthead {
      padding: 40px 0;
      background: #2e89a5;
      color: white;
    }

    .container .logohead {
      padding: 40px 0;
      background: #FFFFFF;
    }

    .container .masthead h1 {
      margin: 0 auto !important;
      max-width: 90%;
      text-transform: uppercase;
    }

    .container .content {
      background: white;
      padding: 0px 35px;
    }

    .container .content.footer {
      margin-bottom: 30px;
    }

    .container .content.footer p {
      margin-bottom: 0;
      color: #888;
      text-align: center;
      font-size: 14px;
    }

    .container .content.footer a {
      color: #888;
      text-decoration: none;
      font-weight: bold;
    }

    .container .logo {

      width: 300px;
    }
  </style>
</head>
<body>

<table class="body-wrap">
  <tr>

    <td class="container">

      <!-- Message start -->
      {#TODO - Make this global for other templates to use #}
      {% set subject ='' %}
      {% set body ='' %}
      {% set globalCertificat =  globalForsikringscertifikat.forsikringscertifikat %}
      {% set subject = include(template_from_string(globalForsikringscertifikat.pageTitle)|raw) %}
      {% set body = include(template_from_string(globalForsikringscertifikat.body)|raw) %}
      {% set footerBody = include(template_from_string(globalForsikringscertifikat.footer)|raw) %}

      <table>
        <tr>
          <td align="center" class="logohead">
            <p><img class="logo" src="/assets/images/elektronikforsikring-logo.svg"/>
            </p>
          </td>
        </tr>
        <tr>
          <td align="center" class="masthead">
            <h1>{{ subject|raw }}</h1>
          </td>
        </tr>
        <tr>
          <td class="content">
            <p>{{ body|raw }}</p></td>
        </tr>
        <tr>
          <td class="content price">
            <table class="table table-responsive">
              {% for items in globalCertificat %}

                {% if items.type == "line" %}
                  <tr>
                    <td>{{ items.fieldName }}</td>
                    <td>{{ include(template_from_string(items.value)|raw) }}</td>
                  </tr>
                {% endif %}

              {% endfor %}
            </table>
          </td>
        </tr>
        <tr>
          <td class="content footer" align="center">
            {{ include(template_from_string(footerBody)|raw) }}
          </td>
        </tr>
      </table>


    </td>
  </tr>

</table>
</body>
</html>