{% set title = "Kundeservice" %}
{% set page = "kundeservice" %}
{% extends "includes/default" %}
{% block content %}


    <section class="service">

        {% set style ='' %}
        {% if entry.backgroundImage.first()|length %}
            {% set style =  'height:200px;background:linear-gradient(rgba(0,0, 0, 0.5), rgba(0, 0, 0, 0.5)),url('~ entry.backgroundImage.first().url ~') no-repeat top center;

          -webkit-background-size: cover;
          -moz-background-size: cover;
          background-attachment: scroll
          -o-background-size: cover;
          ' %}
        {% endif %}


        <div class="row-fluid bg-image" style="{{ style }}">
            <div class="centered">
                <h1>{{ entry.pageTitle }}</h1>
                {#<p>{{ entry.teaser }}</p>#}
            </div>
        </div>

        <div class="row white">
            <div class="container">
                <div class="col-md-8 col-md-offset-2">
                    <div class="row">
                        <div class="col-md-9">


                            {% for block in entry.sektion %}
                                <section
                                        id="{{ block.headline|replace({' ': '-', 'æ': "ae", 'ø': "oe", 'å': "aa"})|lower }}">
                                    <div class="content">
                                        <h2>{{ block.headline }}</h2>
                                        <p>{{ block.body }}</p>
                                    </div>
                                </section>

                            {% endfor %}

                        </div>
                        <div class="col-md-3 scrollspy">
                            <ul id="nav" class="nav nav-affix hidden-xs hidden-sm" data-spy="affix">
                                {% for block in entry.sektion %}
                                    <li>
                                        <a href="#{{ block.headline|replace({' ': '-', 'æ': "ae", 'ø': "oe", 'å': "aa"})|lower }}">{{ block.headline }}</a>
                                    </li>
                                {% endfor %}

                                <a class="btn btn-default buy-nav" href="/commerce">KØB</a>
                            </ul>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
{% includeJsFile '/assets/javascripts/jquery.easing.1.3.js' %}
{% includeJsFile '/assets/javascripts/site.js' %}

