<section class="sections">
    {% for block in sections %}


        {% if block.type == "topbillede" %}

            {% set style ='' %}
            {% if block.billede.first()|length %}
                {% set style =  'height:'~block.imageHeight~'vh;
                background:linear-gradient(rgba(0,0, 0, 0.5), rgba(0, 0, 0, 0.5)),url('~ block.billede.first().url ~') no-repeat top center;-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;' %}
            {% endif %}

            <div class="row-fluid bg-image" style="{{ style }}">

                <div class="centered">
                    <h1>{{ block.overskrift }}</h1>
                    <p>{{ block.teaser }}</p>
                    <div class="buttons">
                        {% if block.knap1Titel|length > 1 %}
                            <a href="{{ block.knap1.first().url }}"
                               class="btn btn-default">{{ block.knap1Titel }}{{ block.imageHeight }}</a>
                        {% endif %}

                        {% if block.knap2Titel|length > 1 %}
                            <a href="{{ block.knap2.first().url }}"
                               class="btn btn-default">{{ block.knap2Titel }}</a>
                        {% endif %}
                    </div>
                </div>

            </div>
        {% endif %}

        {#
        FORDELE
        #}

        {% if block.type == "fordele" %}
            <div class="container-fluid box red ">
                <h2>{{ block.overskrift }}</h2>
                <ul>
                    {% for item in block.listItem %}
                        <li>{{ item.fordel }}</li>
                    {% endfor %}
                </ul>
            </div>

        {% endif %}
        {% if block.type == "sporgsmal" %}
            <div class="box grey">
                <h2>{{ block.overskrift }}</h2>
                <p>{{ block.tekst }}</p>
                <span class="buttons">{{ block.knap1Link }}</span>

            </div>

        {% endif %}

        {% if block.type == "indhold" %}
            <div class="row white default-content">

                <div class="col-md-6 col-md-offset-3">

                        <div class="text-left white">


                            <h3>{{ include(template_from_string(block.overskrift)|raw) }}</h3>
                            <p>{{ include(template_from_string(block.indhold)|raw) }}</p>
                        </div>


                </div>
            </div>


        {% endif %}

        {% if block.type == "billede" %}

            {% set imageStyle ='' %}
            {% if block.billede.first()|length %}
                {% set imageStyle =  'text-align:center;height:'~ block.imageHeight ~'px;background:linear-gradient(rgba(237,34, 88, 0.3), rgba(237, 34, 88, 0.7)),url('~ block.billede.first().url() ~') no-repeat top center;-moz-background-size: cover;-o-background-size: cover;background-size: cover;' %}
            {% endif %}


            <div class="row-fluid bg-image redO" style="{{ imageStyle }}">

                <div class="centered">
                    <h1>{{ block.overskrift }}</h1>
                    <p>{{ block.teaser }}</p>
                </div>

            </div>


        {% endif %}


        {% if block.type == "fordeleIndtastninger" %}
            <div class="row box grey">
                <h2>{{ block.overskrift }}</h2>
                <div id="grid">
                    <div id="posts">
                        <div class="container">
                            {% for item in block.indtastninger %}
                                <div class="post">
                                    <div class="content-box-masonry">
                                        <h3>{{ item }}</h3>
                                        <p>{{ item.body }}</p>
                                    </div>
                                </div>


                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}

        {% if block.type == "vidsteDu" %}

            {% set boxNumber ='' %}
            <div class="row box grey">
                <h2>Vidste Du</h2>
                <div id="grid">
                    <div id="posts">
                        <div class="container">
                            {% for item in block.vidsteDu %}
                                <div class="post">
                                    <div class="content-box">
                                        <div class="text-center">
                                            {% if loop.index < 10 %}
                                                {% set boxNumber = '0' ~ loop.index %}
                                            {% else %}
                                                {% set boxNumber = loop.index %}
                                            {% endif %}
                                        </div>

                                        <blockquote><h3><span class="fa fa-lightbulb-o fa-5x" aria-hidden="true"></span>
                                                VIDSTE DU AT</h3>{{ item.body }}</blockquote>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}

    {% endfor %}
</section>