
{% set page = 'shop' %}
{% extends 'commerce/_layouts/main' %}

{% set priceToday = craft.elektronikforsikring.getPriceToday %}
{% set priceTodayTotal = craft.elektronikforsikring.getPriceTodayTotal %}
{% set cart = craft.commerce.cart %}
{% set thumb = {
mode: 'crop',
width: 1200,

quality: 90,
position: 'center-center'
} %}

{% block content %}

    {% for product in craft.digitalProducts.products.limit(1).find() %}

        {% set style =
        "background: url('"~product.productImages.url.first().getUrl(thumb)~"');

    margin-right: -15px; // Remove right gap
    margin-left: -15px;  // Remove left gap
    margin-bottom:0;
    padding-bottom:69%;
    background-position: 50% 50%;
    background-repeat: no-repeat top center;
    background-size: cover;
  " %}

        <section class="product">
            <div class="row-fluid">
                <div class="col-md-6 col-sm-6 col-xs-12" style="{{ style }}">&nbsp;</div>
                <div class="col-md-6 col-sm-6">
                    <div class="content">
                        <br><br>
                        <h2>{{ product.title }}</h2>
                        <p>{{ include(template_from_string(product.produktBeskrivelse)) }}</p>
                        <form method="POST">
                            <input type="hidden" name="action" value="commerce/cart/updateCart">
                            <input type="hidden" name="redirect" value="/shop/">
                            <input type="hidden" name="qty" value="1">
                            <input type="hidden" name="purchasableId" value="{{ product.id }}">
                            {% if not cart.lineItems|length %}
                                <button class="btn btn-default" type="submit">{{ "Add to cart"|t }}</button>
                            {% else %}
                                <a class="btn btn-default" href="/{{ shopPrefix }}/kurv">{{ "Se Kurv"|t }}</a>
                                <a class="btn btn-default" href="/{{ shopPrefix }}/checkout">{{ "Til betaling"|t }}</a>
                            {% endif %}
                        </form>

                    </div>
                </div>
            </div>
        </section>


    {% endfor %}
{% endblock %}
